apiVersion: apps/v1
kind: Deployment
metadata:
  name: akuudagram-backend
  labels:
    app: akuudagram-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: akuudagram-backend
  template:
    metadata:
      labels:
        app: akuudagram-backend
    spec:
      containers:
      - name: akuudagram-backend-feed
        image: msd4docker/repo_udagram:tag_backend_feed
        imagePullPolicy: Always
        env:
        - name: AWS_REGION
          value: "us-west-1"
        - name: AWS_MEDIA_BUCKET
          value: "s3akuudacityudagram"
        - name: AWS_PROFILE
          value: "root"
        - name: POSTGRES_USERNAME
          value: "codenameaku"
        - name: POSTGRES_PASSWORD
          value: "MSD4aws1"
        - name: POSTGRES_DATABASE
          value: "rdsAkuUdacityUdagram"
        - name: POSTGRES_HOST
          value: "rdsakuudacityudagram.cwkcejwii55z.us-west-1.rds.amazonaws.com"
        - name: POSTGRES_DB
          value: "rdsAkuUdacityUdagram"
        - name: URL
          value: "http://localhost:8100"
        - name: JWT_SECRET
          value: "helloworld"
        volumeMounts:
          - name: aws-secret
            mountPath: "/root/.aws/"
            readOnly: true
        ports:
        - containerPort: 8081
      - name: akuudagram-backend-users
        image: msd4docker/repo_udagram:tag_backend_users
        imagePullPolicy: Always
        env:
        - name: AWS_REGION
          value: "us-west-1"
        - name: AWS_MEDIA_BUCKET
          value: "s3akuudacityudagram"
        - name: AWS_PROFILE
          value: "root"
        - name: POSTGRES_USERNAME
          value: "codenameaku"
        - name: POSTGRES_PASSWORD
          value: "MSD4aws1"
        - name: POSTGRES_DATABASE
          value: "rdsAkuUdacityUdagram"
        - name: POSTGRES_HOST
          value: "rdsakuudacityudagram.cwkcejwii55z.us-west-1.rds.amazonaws.com"
        - name: POSTGRES_DB
          value: "rdsAkuUdacityUdagram"
        - name: URL
          value: "http://localhost:8100"
        - name: JWT_SECRET
          value: "helloworld"
        volumeMounts:
          - name: aws-secret
            mountPath: "/root/.aws/"
            readOnly: true
        ports:
        - containerPort: 8082
      restartPolicy: Always
      volumes:
        - name: aws-secret
          secret:
            secretName: aws-secret
